header{
    padding: 10px 20px;
    text-align: center;
}

main{
    background-color: #ccc;
    padding: 50px;
}

.dice-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.dice img{
    width: 50px;
    height: auto;
}

.gameplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:100px;
    margin-top: 40px;
}

.action-buttons{
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
}

table th{
    text-align: right;
}

input{
    width: 20px;
    margin-left: 10px;
    background-color: lightskyblue;
    border: 1px solid purple;
    outline: none;
}

button{
    outline: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#roll-btn{
    color: white;
    background-color: purple;
}

#new-game-btn{
    color: purple;
    outline: 1px solid purple;
}